@import url("https://fonts.googleapis.com/css2?family=Geist:wght@400;500;600&family=Geist+Mono:wght@400;500&display=swap");
@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";

body {
  @apply bg-ctp-base text-ctp-text;
}

* {
  font-family: "Geist", sans-serif;
  transition: all 0.2s ease-in-out;
  @apply border-ctp-surface1;
}

button {
  @apply bg-ctp-blue text-ctp-crust;
}

button:hover {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

.ghost {
  border: 1px solid transparent;
  @apply bg-transparent text-ctp-text;
}

a:hover {
  text-decoration: underline;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
